    <div class="carousel-title uc">
        Nos partenaires
    </div>

    <div class="carousel-container partners-carousel flex-row">
        <div class="carousel-element">
            <img src="0001.jpg" alt="France Esports">
        </div>
        <div class="carousel-element">
            <img src="LOGO_REGION_RVB-BLEU-GRIS.jpg" alt="Région Auvergne Rhône Alpes">
        </div>
        <div class="carousel-element">
            <img src="1200px-Twitch_logo_2019.png" alt="Twitch">
        </div>
    </div>

    <footer class="flex-row">
        <div class="footer-col">
            Colonne
            <br>
            <a href="https://github.com/Alex-Roux/webserver">Github</a>
        </div>
        <div class="footer-col">
            Colonne
        </div>
        <div class="footer-col">
            <h4 class="uc" style="color:red;">
                Nous rejoindre
            </h3>
        </div>

        
    </footer>
</body>
</html>