    <div class="carousel-title">
        Nos partenaires
    </div>

    <div class="carousel-container partners-carousel">
        <div class="carousel-element">
            <img src="0001.jpg" alt="France Esports">
        </div>
        <div class="carousel-element">
            <img src="LOGO_REGION_RVB-BLEU-GRIS.jpg" alt="Région Auvergne Rhône Alpes">
        </div>
        <div class="carousel-element">
            <img src="LOGO_REGION_RVB-BLEU-GRIS.jpg" alt="Région Auvergne Rhône Alpes">
        </div>
    </div>

    <footer>
        <a href="https://github.com/Alex-Roux/webserver">Github</a>
    </footer>
</body>
</html>