    <div class="carousel-title uc">
        Nos partenaires
    </div>

    <div class="carousel-container partners-carousel flex-row">
        <div class="carousel-element">
            <img src="0001.jpg" alt="France Esports">
        </div>
        <div class="carousel-element">
            <img src="LOGO_REGION_RVB-BLEU-GRIS.jpg" alt="Région Auvergne Rhône Alpes">
        </div>
        <div class="carousel-element">
            <img src="LOGO_REGION_RVB-BLEU-GRIS.jpg" alt="Région Auvergne Rhône Alpes">
        </div>
    </div>

    <footer class="flex-row">
        <div class="footer-col">
            col
            <br>
            <a href="https://github.com/Alex-Roux/webserver">Github</a>
        </div>
        <div class="footer-col">
            col
        </div>
        <div class="footer-col">
            col
        </div>

        
    </footer>
</body>
</html>