
    <footer class="flex-row">
        <div class="footer-col">
            Colonne
            <br>
            <a href="https://github.com/Alex-Roux/webserver">Github</a>
        </div>
        <div class="footer-col">
            Colonne
        </div>
        <div class="footer-col">
            <h4 class="uc" style="color:red;">
                Nous rejoindre
            </h3>
        </div>

        
    </footer>
</body>
</html>