<header>
    <div class="navbar flex-row">
      <div class="header-title">
        <a href="/">Website</a>
      </div>
      <nav class="header-nav">
        <a class="header-button" href="/">Index</a>
        <a class="header-button" href="/page2">Page 2</a>
        <a class="header-button" href="/page3">Page 3</a>
        <a class="header-button" href="/contact">Contact</a>
      </nav>
    </div>
  </header>
<body>