<header>
  <div class="sidebar">
    <nav>
      <a href="/"><div class="sidebar-btn">ACCUEIL</div></a>
      <a href="./teams"><div class="sidebar-btn">ÉQUIPES</div></a>
      <a href="./events"><div class="sidebar-btn">ÉVENEMENTS</div></a>
      <a href="./contact"><div class="sidebar-btn">CONTACT</div></a>
    </nav>
  </div>
</header>
<body>
