<header>
	<div class="header-bar">
		<div class="header-title">
			<a href="/">Website</a>
		</div>
		<div class="header-nav">
			<nav>
				<a class="header-button" href="/">Index</a>
				<a class="header-button" href="/page2">Page 2</a>
				<a class="header-button" href="/page3">Page 3</a>
				<a class="header-button" href="/page4">Page 4</a>
			</nav>
		</div>
	</div>

	<!-- <div class="header-video-container">
		<video src="header-video.mp4" type="video/mp4" autoplay muted loop></video>
	</div> -->

</header>
<body>