<header>
    <div class="navbar flex-row">
      <div class="header-title">
        <a href="/">Website</a>
      </div>
      <nav class="header-nav">
        <a class="header-button" href="/">Accueil</a>
        <a class="header-button" href="/teams">Équipes</a>
        <a class="header-button" href="/events">Évenements</a>
        <a class="header-button" href="/contact">Contact</a>
      </nav>
    </div>
  </header>
<body>
