@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');                /* Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap'); /* Baloo Chettan 2 */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');                    /* Rubik */

/* ---Variables--- */
:root {
    --primary: #ebaf0b;
    --secondary: #0d1452;
}

/* Reset */

p {
    line-height: 24px;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}



/* ---Base styles--- */

html, body {
    background-color: #111;
    color: white;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #333;
    padding: 16px;
    border-bottom: 1px solid #555;
}

.header-title {
    flex-grow: 1;
}

nav{
    margin-top: 8px;
}

.header-title>a {
    color: white;
    text-decoration: none;
}

a.header-button {
    color: red;
    border: 1px solid red;
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
    margin-right: 8px;
}

a.header-button:hover {
    color: white;
    background-color: red;
    transition-duration: 500ms;
}

/* Body */

.container {
    padding: 16px;;
}

/* Footer */

footer {
    width: 100%;
    background-color: #333;
    padding: 16px;
    border-top: 1px solid #555;
}