html {
  background-color: #1e1e1e;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 32px);
  width: 300px;
  background-color: #333;
  padding: 16px 0px 16px 0px;
  z-index: 1;
  border-right: 1px solid #555;
}

#bgvid {
  margin-left: 300px;
  width: calc(100% - 300px);
  filter: brightness(20%);
  box-shadow: 0px 0px 128px #222;
  margin-bottom: 196px;
}

.bgvid-div {
  position: absolute;
  top: 35%;
  left: 35%;
  font-size: 128px;
  font-family: 'Fugaz One';
}

.document {
  margin-left: 300px;
  padding-left: 128px;
  padding-right: 256px;
  line-height: 1.5em;
  font-size: 18px;
}

.sidebar-btn {
  height: 48px;
  width: calc(100% - 48px);
  font-size: 24px;
  padding-right: 48px;
  line-height: 48px;
  font-family: 'Fugaz One';
  text-align: right;
  vertical-align: sub;
  transition-duration: 500ms;
}

nav a {
  color: white;
  text-decoration: none;
}

.sidebar-btn:hover {
  background-color: #555;
  transition-duration: 500ms;
}

p {
  margin-bottom: 48px;
}

nav {
  padding-top: 256px;
}

footer {
  margin-top: 128px;
  margin-left: 300px;
  width: calc(100% - 300px);
  height: 256px;
  background-color: #333;
}

.document h1 {
  padding-left: 64px;
  font-family: 'Fugaz One';
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.carousel-container {
  display: flex;
  width: 100%;
  height: 384px;
}

.carousel-element{
  flex-basis: 100%;
  background-color: #333;
  border-radius: 32px;
  margin: 32px;
  margin-top: 0;
  flex-grow: 1;
  padding: 32px;
  transition-duration: 500ms;
}

.carousel-title {
  font-size: 2em;
  text-align: center;
  line-height: 1.5em;
  font-family: 'Fugaz One';
  height: 100%;
  vertical-align: sub;
}

.carousel-element:hover {
  background-color: #555;
  box-shadow: 0 0 20px #555;
  transition-duration: 500ms;
}
