<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
    <div class="document">
      <div class="document-section-container">
        <h1 class="section-title">Contact</h1>
        Email:
        <br>
        Tél:
        <br>
        etc
      </div>
    </div>
<%- include('./partials/footer.ejs') %>
