<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
    <div class="document container">
        <h1 class="section-title">Contact</h1>
        Email: 
        <br>
        Tél:
        <br>
        etc
    </div>
<%- include('./partials/footer.ejs') %>