<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

    <div class="carousel-container games-carousel">
        <div class="carousel-element">
            <img src="1280px-Apex_Legends_Logo.png" alt="Apex Legends">
        </div>
        <div class="carousel-element">
            <img src="LOGO_REGION_RVB-BLEU-GRIS.jpg" alt="Région Auvergne Rhône Alpes">
        </div>
        <div class="carousel-element">
            <img src="LOGO_REGION_RVB-BLEU-GRIS.jpg" alt="Région Auvergne Rhône Alpes">
        </div>
    </div>



    <div class="document container">
        Hello World !
    </div>
    <div class="container-left box">
        zazd
    </div>
<%- include('./partials/footer.ejs') %>