<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

    <div class="carousel games-carousel flex-row">
        <div class="carousel-element">
            <img src="1280px-Apex_Legends_Logo.png" alt="Apex Legends">
        </div>
        <div class="carousel-element">
            <img src="1280px-Valorant_logo_-_black_color_version.png" alt="Valorant">
        </div>
        <div class="carousel-element">
            <img src="dd8557a0bd3ae83e691ee31d1a307026.jpg" alt="League of Legends">
        </div>
    </div>

    <div class="document container">
        <h1 class="section-title">Hello World !</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam quam lacus, et convallis lorem malesuada quis. Sed in aliquet ipsum. Donec at mauris nunc. Vestibulum et vulputate quam, sed commodo lectus. Aenean tortor metus, efficitur id maximus ut, convallis nec risus. Sed id malesuada arcu, eu dictum est. Nullam imperdiet magna tellus, vel facilisis turpis lobortis id. Pellentesque sagittis tempor elit sit amet ultrices. Aenean sed dui in lectus cursus euismod a quis eros. Nullam hendrerit fermentum consectetur. Donec lectus est, varius eu purus sit amet, tristique accumsan metus.
        </p>
        <p>
            Cras pulvinar lacus ut erat fringilla ultricies. Praesent at molestie purus. Quisque pretium fringilla turpis, vitae eleifend magna scelerisque eget. Mauris urna tortor, consequat a sollicitudin ut, hendrerit et nisi. Vestibulum velit ligula, scelerisque eu suscipit eu, venenatis vel metus. Donec sollicitudin posuere accumsan. Nullam sed ex eu neque consequat dapibus ac eu augue. Mauris vel nisi sapien.
        </p>    
    </div>

    <div class="box-container flex-row">
        <div class="container-left box">
            <h2 class="uc">
                Adhérents
            </h2>
            <ul>
                <li>
                    Some text
                </li>
                <li>
                    Some text
                </li>
                <li>
                    Some text
                </li>
                <li>
                    Some text
                </li>
            </ul>
        </div>
        <div class="box-right">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                Fusce scelerisque, turpis vitae ullamcorper sollicitudin, nunc elit pellentesque nisl, et egestas felis odio id massa. Proin purus nisl, efficitur id sem sed, porta aliquam ante. Suspendisse dictum fermentum sem vitae hendrerit.
            </p>
        </div>
    </div>

    

    <div class="document container">
        <h1 class="section-title">A section title</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam quam lacus, et convallis lorem malesuada quis. Sed in aliquet ipsum. Donec at mauris nunc. Vestibulum et vulputate quam, sed commodo lectus. Aenean tortor metus, efficitur id maximus ut, convallis nec risus. Sed id malesuada arcu, eu dictum est. Nullam imperdiet magna tellus, vel facilisis turpis lobortis id. Pellentesque sagittis tempor elit sit amet ultrices. Aenean sed dui in lectus cursus euismod a quis eros. Nullam hendrerit fermentum consectetur. Donec lectus est, varius eu purus sit amet, tristique accumsan metus.
        </p>
        <p>
            Cras pulvinar lacus ut erat fringilla ultricies. Praesent at molestie purus. Quisque pretium fringilla turpis, vitae eleifend magna scelerisque eget. Mauris urna tortor, consequat a sollicitudin ut, hendrerit et nisi. Vestibulum velit ligula, scelerisque eu suscipit eu, venenatis vel metus. Donec sollicitudin posuere accumsan. Nullam sed ex eu neque consequat dapibus ac eu augue. Mauris vel nisi sapien.
        </p>
    </div>

    <div class="document container">
        <h1 class="section-title">Another title</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam quam lacus, et convallis lorem malesuada quis. Sed in aliquet ipsum. Donec at mauris nunc. Vestibulum et vulputate quam, sed commodo lectus. Aenean tortor metus, efficitur id maximus ut, convallis nec risus. Sed id malesuada arcu, eu dictum est. Nullam imperdiet magna tellus, vel facilisis turpis lobortis id. Pellentesque sagittis tempor elit sit amet ultrices. Aenean sed dui in lectus cursus euismod a quis eros. Nullam hendrerit fermentum consectetur. Donec lectus est, varius eu purus sit amet, tristique accumsan metus.
        </p>
        <p>
            Cras pulvinar lacus ut erat fringilla ultricies. Praesent at molestie purus. Quisque pretium fringilla turpis, vitae eleifend magna scelerisque eget. Mauris urna tortor, consequat a sollicitudin ut, hendrerit et nisi. Vestibulum velit ligula, scelerisque eu suscipit eu, venenatis vel metus. Donec sollicitudin posuere accumsan. Nullam sed ex eu neque consequat dapibus ac eu augue. Mauris vel nisi sapien.
        </p>
    </div>

    <div class="carousel-title uc">
        Nos partenaires
    </div>

    <div class="carousel partners-carousel flex-row">
        <div class="carousel-element">
            <img src="0001.jpg" alt="France Esports">
        </div>
        <div class="carousel-element">
            <img src="LOGO_REGION_RVB-BLEU-GRIS.jpg" alt="Région Auvergne Rhône Alpes">
        </div>
        <div class="carousel-element">
            <img src="1200px-Twitch_logo_2019.png" alt="Twitch">
        </div>
    </div>


<%- include('./partials/footer.ejs') %>