<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<div class="document">

    <!-- Doc body -->

    <div class="document-section-container">
      <h1 class="section-title">A second page !</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam quam lacus, et convallis lorem malesuada quis. Sed in aliquet ipsum. Donec at mauris nunc. Vestibulum et vulputate quam, sed commodo lectus. Aenean tortor metus, efficitur id maximus ut, convallis nec risus. Sed id malesuada arcu, eu dictum est. Nullam imperdiet magna tellus, vel facilisis turpis lobortis id. Pellentesque sagittis tempor elit sit amet ultrices. Aenean sed dui in lectus cursus euismod a quis eros. Nullam hendrerit fermentum consectetur. Donec lectus est, varius eu purus sit amet, tristique accumsan metus.
      </p>
      <p>
        Cras pulvinar lacus ut erat fringilla ultricies. Praesent at molestie purus. Quisque pretium fringilla turpis, vitae eleifend magna scelerisque eget. Mauris urna tortor, consequat a sollicitudin ut, hendrerit et nisi. Vestibulum velit ligula, scelerisque eu suscipit eu, venenatis vel metus. Donec sollicitudin posuere accumsan. Nullam sed ex eu neque consequat dapibus ac eu augue. Mauris vel nisi sapien.
      </p>
    </div>

    <div class="document-section-container">
      <h1 class="section-title">A section title</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam quam lacus, et convallis lorem malesuada quis. Sed in aliquet ipsum. Donec at mauris nunc. Vestibulum et vulputate quam, sed commodo lectus. Aenean tortor metus, efficitur id maximus ut, convallis nec risus. Sed id malesuada arcu, eu dictum est. Nullam imperdiet magna tellus, vel facilisis turpis lobortis id. Pellentesque sagittis tempor elit sit amet ultrices. Aenean sed dui in lectus cursus euismod a quis eros. Nullam hendrerit fermentum consectetur. Donec lectus est, varius eu purus sit amet, tristique accumsan metus.
      </p>
      <p>
        Cras pulvinar lacus ut erat fringilla ultricies. Praesent at molestie purus. Quisque pretium fringilla turpis, vitae eleifend magna scelerisque eget. Mauris urna tortor, consequat a sollicitudin ut, hendrerit et nisi. Vestibulum velit ligula, scelerisque eu suscipit eu, venenatis vel metus. Donec sollicitudin posuere accumsan. Nullam sed ex eu neque consequat dapibus ac eu augue. Mauris vel nisi sapien.
      </p>
    </div>

    <div class="document-section-container">
      <h1 class="section-title">Another title</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam quam lacus, et convallis lorem malesuada quis. Sed in aliquet ipsum. Donec at mauris nunc. Vestibulum et vulputate quam, sed commodo lectus. Aenean tortor metus, efficitur id maximus ut, convallis nec risus. Sed id malesuada arcu, eu dictum est. Nullam imperdiet magna tellus, vel facilisis turpis lobortis id. Pellentesque sagittis tempor elit sit amet ultrices. Aenean sed dui in lectus cursus euismod a quis eros. Nullam hendrerit fermentum consectetur. Donec lectus est, varius eu purus sit amet, tristique accumsan metus.
      </p>
      <p>
        Cras pulvinar lacus ut erat fringilla ultricies. Praesent at molestie purus. Quisque pretium fringilla turpis, vitae eleifend magna scelerisque eget. Mauris urna tortor, consequat a sollicitudin ut, hendrerit et nisi. Vestibulum velit ligula, scelerisque eu suscipit eu, venenatis vel metus. Donec sollicitudin posuere accumsan. Nullam sed ex eu neque consequat dapibus ac eu augue. Mauris vel nisi sapien.
      </p>
    </div>
  </div>
<%- include('./partials/footer.ejs') %>
